{% extends "::base.html.twig" %}

{% block title %}AcmeSearchBundle:Artists:index{% endblock %}

{% block body %}


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            {#<th>Track Minutes</th>#}
        </tr>
        </thead>

        <tbody>

        {% for k,v in pagination  %}

            <tr {% if loop.index is odd %} class="color" {% endif %}>

                <td><a href="{{ path('SearchBundle_tracks_view', {'dId': v.discsDid, 'aId': v.artistsAid, 'title': v.ttitle })}}">{{ v.ttitle }}</a></td>
                {#<td>{{ v.tseconds / 60 }}</td>#}

            </tr>

        {% endfor %}

        </tbody>
    </table>

    {# display navigation #}
    <div class="pagination-centered">

        <div class="alert-info">
            <p>All pages: {{ pagination.getTotalItemCount }}</p>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
