{% extends "::base.html.twig" %}

{% block title %}AcmeSearchBundle:Artists:index{% endblock %}

{% block body %}


    <table class="table table-bordered">
        <thead>
 {#       <tr>
            {% for v in menu  %}
                <th>{{ v }}</th>
            {% endfor %}
        </tr>#}
        </thead>

        <tbody>
        <tr>
            <td>{{ data.trackTitle }}</td>
            <td><a href="{{ path('SearchBundle_disc_view', { 'name': data.discTitle, 'id': data.DiskId, 'artistId': data.artistId } ) }}">{{ data.discTitle }}</a></td>
            <td><a href="{{ path('SearchBundle_artist_view', { 'name': data.artistName, 'id': data.artistId } ) }}">{{ data.artistName }}</a></td>
            <td>{{ data.trackMinutes }}</td>
        </tr>
        </tbody>
    </table>
    {# display navigation #}

{% endblock %}
