{% extends "::base.html.twig" %}

{% block title %}AcmeSearchBundle:Artists:index{% endblock %}

{% block body %}


    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Release</th>
        </tr>

        {# table body #}
        {% for v in pagination  %}
            <tr>
                <td><a href="/disc/view/{{ v.dtitle }}/{{ v.did}}/{{ v.artistsAid}}">{{ v.dtitle }}</a></td>
                <td>{{ v.dreleased }}</td>
            </tr>
        {% endfor %}


    </table>

    {# display navigation #}
    <div class="pagination-centered">

        <div class="alert-info">
            <p>All pages: {{ pagination.getTotalItemCount }}</p>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}