{% extends '::base.html.twig' %}

{% block body -%}
    <h1>All songs</h1>

    <table class="records_list table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Album</th>
                <th>Year</th>
                <th>Description</th>
                <th>Category</th>
                <th>Owner</th>

            </tr>
        </thead>
        <tbody>
        {% if records is defined  %}
            {% for rec in records %}

                <tr>
                    <td><a href="{{ path('task_show', { 'id': rec.id }) }}">{{ rec.id }}</a></td>
                    <td>{{ rec.title }}</td>
                    <td>{{ rec.author }}</td>
                    <td>{{ rec.album }}</td>
                    <td>{{ rec.year }}</td>
                    <td>{{ rec.description }}</td>
                    <td>{{ rec.category}}</td>
                    <td><a href="#">{{ rec.owner }}</a></td>
                    {% if user != 'anon.' %}
                    <td>

                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': rec.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': rec.id }) }}">edit</a>
                        </li>
                    </ul>

                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

        {% if user is defined  %}
            {% if user != 'anon.' %}
                <a href="{{ path('task_new') }}">Create a new playlist</a>
            {% endif %}
        {% endif %}
        <br>


               {# <p>{{ paginator }}</p>#}
    {% if pageNum is defined  %}
    <div style="padding-left:50%">
                {% for v in pageNum %}
                    <a href="{{ v }}">{{ v }}</a>
                {% endfor %}
    </div>
    {% endif %}


{% endblock %}
