{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}


    <table class="table table-bordered">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.gid') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.gtitle') }}</th>

        </tr>

        {# table body #}
        {% for k,v in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                {% for title in v %}

                <td>{{  title }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="pagination-centered">

        <div class="alert-info">
            <p>All pages: {{ pagination.getTotalItemCount }}</p>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
