{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}


    <table class="table table-bordered">
        <tr>
            {# sorting of properties based on query components #}

            <th>Title</th>

        </tr>

        {# table body #}
        {% for v in pagination %}

               <td><a href="/category/view/{{v.gtitle}}/{{v.gid}}">{{v.gtitle}}</a></td>

            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="pagination-centered">

        <div class="alert-info">
            <p>All pages: {{ pagination.getTotalItemCount }}</p>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
