{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}

<div style="width: 405px; float: left;">

    <table class="table table-bordered" >
        <thead>
        <tr>
            <th>Albums in this category</th>
        </tr>
        </thead>

        <tbody>
        {% for v in discpaginator %}
            <tr>
                <td><a href="{{ path('SearchBundle_disc_view', { 'name': v.dtitle, 'id': v.did, 'artistId': v.artistsAid} ) }}">{{ v.dtitle }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination-centered" style="width: 400px;">

        <div class="alert-info">
            <p>All pages: {{ discpaginator.getTotalItemCount }}</p>
        </div>

        {{ knp_pagination_render(discpaginator) }}

    </div>

</div>


<div style="width: 400px; margin-left: 450px;">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Artists in this category</th>
        </tr>
        </thead>

        <tbody>
        {% for v in artistpaginator %}
            <tr>
                {% for varray in v %}
                    <td><a href="{{ path('SearchBundle_artist_view', { 'name':  varray.aname, 'id': varray.aid } ) }}">{{ varray.aname }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination-centered" style="width: 400px;">

        <div class="alert-info">
            <p>All pages: {{ artistpaginator.getTotalItemCount }}</p>
        </div>

        {{ knp_pagination_render(artistpaginator) }}
    </div>

</div>

{% endblock %}
