{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}


    <table class="table table-bordered" style="width: 405px;float: left">
        <tr><th>Albums in this category</th></tr>

            {% for v in dataData %}
        <tr>
            <td> <a href="/disc/view/{{ v.dtitle }}/{{ v.did }}/{{ v.artistsAid }}">{{ v.dtitle }}</a></td>
        </tr>
            {% endfor %}

    </table>

    <table class="table table-bordered" style="width: 400px;margin-left: 450px">

        <tr><th>Artists in this category</th></tr>

       {% for v in artisData %}
            <tr>
                {% for varray in v %}
                     <td> <a href="">{{ varray.aname }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>






{% endblock %}
