{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}


    <table class="table table-bordered">
        <tr>
            {% for v in menu %}

                 <th>{{ v }}</th>

            {% endfor %}
        </tr>

            {% for v in dataData %}
        <tr>
            <td> <a href="/disc/view/{{ v.dtitle }}/{{ v.did }}">{{ v.dtitle }}</a></td>
        </tr>
            {% endfor %}


{#            {% for v in data %}

                {% for k in v %}
                    <tr>
                    {% for r in k %}
                        <td><a href="">{{ r }}</a></td>
                    {% endfor %}
                    </tr>
                {% endfor %}

            {% endfor %}#}




    </table>

{% endblock %}
