<form novalidate=novalidate action="{{ path('SearchEngineBundle_search') }}" method="post" {{ form_enctype(form) }} class="well form-search">

    <!-- form errors -->
    {{ form_errors(form) }}

    {{ form_errors(form.title) }}
    {{ form_widget(form.title, { 'attr': { 'data-url': path('SearchEngineBundle_ajax'), 'class': 'input-medium search-query' } } ) }}

    {{ form_rest(form) }}

    <input class="btn btn-primary clear" type="submit" />
</form>