{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}
    <div class="span5">
        <div id="content">
            {% include "AcmeSearchBundle:Search:form.html.twig" with {'form': form} %}
            <hr />
            <ul>
                {% if searcher is defined %}
                    {% for result in searcher %}

                        <li>
                            <a href="/app_dev.php/tracks/view/{{ result.discsDid }}/{{ result.artistsAid }}/{{ result.ttitle }}">{{ result.ttitle }}</a>
                        </li>

                    {% endfor %}
                {% endif %}

                {% if array.title is defined %}
                    {% for key, value in array.title %}

                        <li><a href="playlist/{{ key }}">{{ value }}</a></li>

                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}