{% extends '::base.html.twig' %}

{% block body -%}

    <div style="margin-top: 45px;text-align: center">
        <span style="color: #605462;font: 150% Arial;">Users</span>
    </div>

    <div id="content">

        <table class="admin-table"">


            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Status</td>
                <td>Edit</td>
            </tr>


            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.username }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.status }}</td>
                    <td>
                        <a style="color: blue" href="users/edit/{{ entity.id }}/{{ lock }}">Lock user</a><br>
                        <a style="color: blue" href="users/edit/{{ entity.id }}/{{ unlock }}">Unlock user</a><br>
                        <a style="color: blue" href="users/edit/{{ entity.id }}/{{ delete }}">Delete</a>
                    </td>
                </tr>

            {% endfor %}

        </table>

    </div>


{% endblock %}







