{% extends "::base.html.twig" %}

{% block title %}AcmeSearchBundle:Artists:index{% endblock %}

{% block body %}


    <table class="table table-bordered" style="float: left;width: 350px">
        <tr>


            <th>Artist</th>
        </tr>


        {% for value in pagination %}

            <tr>
                <td><a href="/artists/view/{{ value.aname }}/{{ value.aid }}">{{ value.aname }}</a></td>
            </tr>

        {% endfor %}
    </table>
    <div class="clear" style="clear: both"></div>
    {# display navigation #}
    <div class="pagination-centered">

        <div class="alert-info">
            <p>All pages: {{ pagination.getTotalItemCount }}</p>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}